.transition {
  transition: all .2s ease-in-out;
}

// .flipIn {
//   animation: flipdown .5s ease both;
// }
.user-select {
  -webkit-tap-highlight-color: $brand-thrird;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// h1 {
//   @extend .flipIn;
// }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  perspective: 900px;
  li {
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 18px;
    padding-bottom: 4px;
    // @extend .flipIn;
    // &:nth-of-type(1) {
    //   animation-delay: .5s;
    // }
    // &:nth-of-type(2) {
    //   animation-delay: .75s;
    // }
    // &:nth-of-type(3) {
    //   animation-delay: 1s;
    // }
    &:last-of-type {
      padding-bottom: 0;
    }
  } //li end
  i {
    position: absolute;
    right: 0;
    transform: translate(-6px, 0);
    padding-top: 16px;
    &::before, &::after {
      position: absolute;
      content: "";
      background-color: $brand-primary;
      width: 3px;
      height: 9px;
    }
    &::before {
      transform: translate(-2px, 0) rotate(45deg);
    }
    &::after {
      transform: translate(2px, 0) rotate(-45deg);
    }
  }// i end
  input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height:5em;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    &~div {
      padding-top: 4em;
      padding-bottom: 3em;
    }
    &:checked {
      &~p, &~div {
        transform: translate(0, 50%);
        max-height: 0;
        opacity: 0;
      }
      &~div {
        padding-top: 0em;
        padding-bottom: 0em;
      }
      &~i {
        &::before {
          transform: translate(2px, 0) rotate(45deg);
        }
        &::after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  } // input end
} //ul end

@keyframes flipdown {
  0% {
    transform-origin: top center; // 50% 0
    transform: rotateX(-90deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top center;
  }
}
