.img-contain {
  background-size: cover;
  width: 100%;
  &__about{
    @extend .img-contain;
  }
  &__staring {
    @extend .img-contain;
    width: 60%;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    display: block;
    &-home {
        @extend  .img-contain__staring;
        height: 300px;
    }
    &-cast {
        @extend  .img-contain__staring;
        height: 200px;
    }
  }
  &__person {
      @extend .img-contain;
  }
}
